body {
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  flex-flow: row;
  padding: 20px 0 0 50px;
}

.map-container {
  margin: 0 auto;
  display: flex;
  position: relative;
  background-image: url(../static_assets/map.jpg);
  min-width: 900px;
  height: 492px;
  background-size: cover;
  overflow: hidden;
}

.buttons-container {
  flex-flow: column;
  display: flex;
  width: 900px;
  margin-left: 20px;
}


.map {
  width: 900px;
}

.trail {
  position: absolute;
  width: 900px;
  display: none;
}

.btn.mok-rysy {
  border-color: #850b0b;
}
.btn.mok-rysy:hover {
  background: #850b0b;
}

.btn.mok-roztoka {
  border-color: rgb(22, 85, 22);
}

.btn.mok-roztoka:hover {
  background: rgb(22, 85, 22);
}

.btn.mok-miekusz {
  border-color:rgb(22, 85, 22);
}

.btn.mok-miekusz:hover {
  background:rgb(22, 85, 22);
}

.btn.mok-pw {
  border-color:#850b0b;
}

.btn.mok-pw:hover {
  background:#850b0b;
}

.btn.mok-szpiglas-5 {
  border-color: rgb(149, 149, 8);
}

.btn.mok-szpiglas-5:hover {
  background-color: rgb(149, 149, 8);
}

.btn.mok-pw {
  border-color:#850b0b;
}

.btn.mok-pw:hover {
  background-color:#850b0b;
}

.btn.mok-5 {
  border-color: rgb(10, 10, 121);
}

.btn.mok-5:hover {
  background-color: rgb(10, 10, 121);
}

.pin {
  position: absolute;
  background-image: url(../static_assets/icons/pin.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.pin.schroniskoroztoka2 {
  top: 165px;
  left: 567px;
}

.pin.polana_wlosienica {
  top: 240px;
  left: 499px;
}

.pin.zoltyszlak {
  top: 302px;
  left: 422px;
}

.pin.szpiglas_przelecz {
  top: 290px;
  left: 375px;
}

.pin.morskie_oko {
  top: 315px;
  left: 460px;
}

.btn {
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  margin-bottom: 30px;
  width: 220px;
  border-width: 3px;
}

.btn:hover {
  transition: all 0.3s ease 0s;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .main {
    flex-flow: column;
  }
  .buttons-container {
    display: flex;
    flex-flow: column;
    width: 100vw;
    padding: 20px 0;
    margin-left: 370px
  }
}